{% extends 'base_generic.html' %}

{% block title %}<title>{{ selected_user.username }}</title>{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="userinformation">
    <div class="userheader">
        {% if user_info.profile_picture %}
            <img src="{{ user_info.profile_picture.url }}" class="profilepicture" alt="Error Picture not found">
        {% endif %}
        <h2>{{ selected_user.username }}</h2>
    </div>

        <div class="outer">
            <div class="xp-bar" style="width:{{ user_info.xp_modulo }}%">{{ user_info.xp_modulo }}XP</div>
        </div>

    </div>
    <p>Created: {{ selected_user.date_joined.date }}</p>
    <p>Post count: {{ user_info.post_count }}</p>
    {% if user.is_authenticated %}
        <p>Posts available: {{ user_info.posts_available }}</p>
        <p>Random Post: {{ user_info.random_post }}</p>
    {% endif %}
    {% if selected_user == request.user %}
        <a href="{% url "users:profile_picture" %}">Change your profile picture</a>
    {% endif %}

{% endblock %}