{% extends 'base_generic.html' %}

{% block title %}<title>{{ selected_user.username }}</title>{% endblock %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

<h2>{{ selected_user.username }}</h2>

    <div class="outer">
        <div class="xp-bar" style="width:{{ user_info.xp_modulo }}%">{{ user_info.xp_modulo }}XP</div>
    </div>
    <p>Created: {{ selected_user.date_joined.date }}</p>
    <p>Post count: {{ user_info.post_count }}</p>
    <p>XP: {{ user_info.xp }}</p>
    <p>Posts available: {{ user_info.posts_available }}</p> {# TODO: Remove and only list in logged-in users profile #}
    <p>Random Post: {{ user_info.random_post }}</p> {# TODO: Remove and only list on logged-in users profile #}
{% endblock %}