{% extends 'base_generic.html' %}

{% block title %}<title>{{ post.post_title }}</title>{% endblock %}

{% block content %}
    <h1>{{ post.post_title }}</h1>

    {% for userinfo in user.userinfo_set.all %}
        {% if userinfo.random_post == post %}
        <a href="{% url 'posts:comment' post.id %}">Comment</a>
        {% endif %}
    {% endfor %}

    <p>Posted: {{ post.time_since_published }}</p>
    <p>Creator: <a href="{% url 'users:profile' post.creator %}">{{ post.creator }}</a></p>
    <p>Upvotes: {{ post.vote_count }}

        {% if has_voted == 1 %}
            You have already voted
        {% else %}
            <a href="{% url 'posts:vote' post.id %}">+</a>
        {% endif %}

    </p>
    <p>Downvotes: {{ post.down_votes }}</p>
    <hr>
    <p>{{ post.post_text }}</p>
    <hr>
    <hr>
    {% for comment in post.comment_set.all %}
        <p>Creator: <a href="{% url 'users:profile' comment.creator %}">{{ comment.creator }}</a></p>
        <p>Posted: {{ comment.pub_date }}</p>
        <p>{{ comment.comment_text }}</p>
        <hr>
    {% endfor %}
{% endblock %}