{% extends 'base_generic.html' %}

{% block title %}<title>{{ post.post_title }}</title>{% endblock %}

{% block content %}

    <div class="comment">

        <div class="voting-section">
            <a class="fas fa-angle-up like" href="{% url 'posts:vote' post.id %}" id="like"></a>
            {% if has_voted == 1 %}
                <script>
                    likepost()
                </script>
            {% endif %}
            <div class="score upvote hide">{{ post.up_vote_count }}</div>
            <div class="score downvote hide">{{ post.down_vote_count }}</div>
            <div class="score likes">{{ post.vote_difference }}</div>
            <a class="fas fa-angle-down  dislike" href="{% url 'posts:down_vote' post.id %}" id="dislike"></a>
            {% if has_down_voted == 1 %}
                <script>
                    dislikepost()
                </script>
            {% endif %}
        </div>

        <div class="link">
            <h3>{{ post.post_title }}</h3>
            <p>{{ post.post_text }}</p>
                {% if post.post_image %}
                    <img src="{{ post.post_image.url }} " alt="Error picture not found" class="responsive">
                {% endif %}

            <p>Posted: {{ post.pub_date_printable }}</p>
            <a class="profillink" href="{% url 'users:profile' post.creator %}">Posted by {{ post.creator }}</a>
            {% for userinfo in user.userinfo_set.all %}
                {% if userinfo.random_post == post %}
                    <div class="addComment">
                        <a href="{% url 'posts:comment' post.id %}"> Add comment</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <hr>
    <div class="commentblock">
        {% for comment in post.comment_set.all %}
            <div class="comment">
                <div class="voting-section">
                    <a class="fas fa-angle-up like" href="{% url 'posts:vote_comment' comment.id 0 %}"
                       id="like_comment_{{ forloop.counter }}"></a>
                    {% for voter in comment.up_votes_list.all %}
                        {% if voter.username == user.username %}
                            <script>
                                likeComment({{ forloop.parentloop.counter }})
                            </script>
                        {% endif %}
                    {% endfor %}
                    <div class="score upvote hide">{{ comment.up_vote_count }}</div>
                    <div class="score downvote hide">{{ comment.down_vote_count }}</div>
                    <div class="score likes">{{ comment.vote_difference }}</div>
                    <a class="fas fa-angle-down  dislike" href="{% url 'posts:vote_comment' comment.id 1 %}"
                       id="dislike_comment_{{ forloop.counter }}"></a>
                    {% for voter in comment.down_votes_list.all %}
                        {% if voter.username == user.username %}
                            <script>
                                dislikeComment({{ forloop.parentloop.counter }})
                            </script>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <a class="profillink" href="{% url 'users:profile' comment.creator %}">{{ comment.creator }}</a>
                    <p>Posted: {{ comment.pub_date_printable }}</p>
                    <p>{{ comment.comment_text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
