.commentblock {
    display:flex;
    flex-direction: column;
    background-color: white;
    margin: 2rem 2rem 2rem 2rem;
    list-style-type: none;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgray;
}

.addComment{
    width: 170px;
     margin: 2rem 0 2rem 0;
     border-radius: 0.5rem;
     border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgray;

}
.addComment:hover {
    box-shadow: 10px 10px 5px lightgray;
    border: 1px solid darkgrey;
    cursor: pointer;
}
.comment{
    display:flex;
    background-color: white;
    margin: 2rem 2rem 2rem 2rem;
    list-style-type: none;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgray;
}