
li .post {
    display: flex;
    list-style: none;
}

#post_content {
    background-color: white;
    margin: 2rem 2rem 0 0;
    display: flex;
    list-style-type: none;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgray;
}

.responsive{
    width: 100%;
    max-width: 80rem;
    float:none;
}
#post_content:hover {
    box-shadow: 10px 10px 5px lightgray;
    border: 1px solid darkgrey;
    margin-left: 0.5rem;
    cursor: pointer;
}


.order {
    display: inline-block;
    font-size: 14px;
    margin-top: 22px;
    vertical-align: top;
    padding: 0;
}

.link h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    flex-direction: row;
    margin-right: 2rem;
}

.link a {
    font-size: 2rem;
    margin: 1rem 0 0rem 0rem;
    margin-right: 2rem;
    display: block;
    color: black;
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information a {
    padding-bottom: 0.5rem;
    display: inline-block;
    align-self: flex-end;
    vertical-align: bottom;
    font-size: 1.5rem;

}

.information a:hover {
    background-color: lightgray;
    border-radius: 10px;
}



