
li .post {
    display: flex;
    list-style: none;
}

#post_content {
    background-color: white;
    margin: 2rem 2rem 0 0;
    display: flex;
    list-style-type: none;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgray;
}

#post_content:hover {
    box-shadow: 10px 10px 5px lightgray;
    border: 1px solid darkgrey;
    cursor: pointer;
}

.voting-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    padding: 0;
}

.like {
    font-size: 3rem;
    display: block;
    cursor: pointer;
    color: grey;
    text-decoration: none;
}

.like:hover {
    color: green;
}

.dislike {
    font-size: 3rem;
    display: block;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.dislike:hover {
    color: red;
}

.score {
    font-size: 2rem;

}

.hide {
    display: none;
}

.glyphicon {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order {
    display: inline-block;
    font-size: 14px;
    margin-top: 22px;
    vertical-align: top;
    padding: 0;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    flex-direction: row;
}

.link a {
    font-size: 2rem;
    margin: 1rem 0rem 0rem 0rem;
    display: block;

    color: black;
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information a {
    display: inline-block;
    align-self: flex-end;
    vertical-align: bottom;
    font-size: 1rem;

}

.information a:hover {
    background-color: lightgray;
}



