html {
    width: 100%;
    height: 100%;
    font-size: 62.5%; /* default wert, kann angepasst werden wenn "rem" benutzt wird*/

}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

header {
    background-color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-height: 5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8c1e31;

}

header .header-item {
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 3rem;

    display: flex;

    align-items: center;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}
header .left {
    justify-content: center;

    border-right: 1px solid #8c1e31;
}

header .center {
    justify-content: center;

}

header .right {
    justify-content: center;
    border-left: 1px solid #8c1e31;
}

header .header-item:hover {
    background-color: grey;
}

li .post {
    display: flex;
    padding: 10px;
    overflow: auto;
    list-style: none;


}

#post_content:hover {

   border: 1px solid black ;
  cursor: pointer;
}

.radio-left input[type=radio]{
flex-direction: column;
}


h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    flex-direction: row;
}

#posts a {
    display: block;
    flex-direction: row;
    color: black;
    text-decoration: none;
}
.information{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

}

#post_content {
   background-color: white;
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    list-style-type:none;
    border: 1px solid lightgrey ;

}


.voting-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    padding: 0;
}
    .like {
      display: block;
      cursor: pointer;
      color: grey;

    }
    .like:hover{
        color:green;
    }

    .dislike {
      display: block;
      cursor: pointer;
      color: gray;
    }
      .dislike:hover {
        color: red;
      }


    .score {
      font-size: 14px;

    }


  .glyphicon {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .order {
    display: inline-block;
    font-size: 14px;
    margin-top: 22px;
    vertical-align: top;
    padding: 0;
  }



  footer {
    background-color: red;
    height: 100%;
    max-height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}